
html {
  box-sizing: border-box;
  background-color: $lightest-color;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: $base-default-font-size;
  color: $darkest-color;
  background-color: $lightest-color;
}

p {
  margin-top: 0;
}

h1 {
  @extend %full-width;
  @extend %heading;
}

[aria-hidden="true"] {
  //display: none;
}

.container {
  max-width: $layout-max-width;
  min-width: 32rem;
  margin: 0 auto;
}
