
html {
  box-sizing: border-box;
  font-size: $base-default-font-size;
  background-color: $lightest-color;

  @include breakpoint($bp-medium-landscape) {
    font-size: $base-medium-font-size;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $darkest-color;
}

a {
  @extend %link;
}

[aria-hidden="true"] {
  display: none;
}

p {
  margin-top: 0;
}

.container {
  max-width: $layout-max-width;
}
