
%base-text {
  font-family: $base-font-stack;
  font-size: $medium-font-size;
  line-height: $default-line-height;
}

%full-width {
  @include breakpoint($bp-medium-portrait) {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
}

%heading {
  color: $lightest-color;
  background-color: $accent-color;
  font-family: $heading-font-stack;
  font-size: $xl-font-size;
  text-align: center;
  line-height: $default-line-height;
  padding: 1rem 1.5rem;
  border-bottom: solid 1px darken($accent-color, 15%);
  margin-top: 0;
  margin-bottom: 0;
}

%button {
  @include background(linear-gradient($lightest-color, $secondary-color));

  color: $darkest-color;
  font-size: $large-font-size;
  font-family: $base-font-stack;
  text-decoration: none;
  //text-shadow: 1px 1px 0 darken($accent-color, 15%);
  line-height: $large-line-height;
  padding: .6rem 1rem;
  outline: none;
  opacity: 1;
  transition: all .3s ease-in;

  &:active,
  &:hover,
  &:focus {
    //background-color: darken($accent-color, 14%);
  }
}

%visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
