
%base-text {
  font-family: $base-font-stack;
  font-size: $medium-font-size;
  line-height: $default-line-height;
}

%button {
  background-color: $tertiary-color;
  color: $darkest-color;
  font-size: $large-font-size;
  font-family: $base-font-stack;
  text-decoration: none;
  //text-shadow: 1px 1px 0 darken($accent-color, 15%);
  line-height: $large-line-height;
  padding: .6rem 1rem;
  outline: none;
  opacity: 1;
  transition: all .3s ease-in;

  &:active,
  &:hover,
  &:focus {
    //background-color: darken($accent-color, 14%);
  }
}

%heading {
  color: $lightest-color;
  background-color: $accent-color;
  font-family: $heading-font-stack;
  font-size: $xl-font-size;
  line-height: $default-line-height;
  padding: 1.15rem 1.5rem;
  border-top: solid 3px darken($accent-color, 15%);
  margin: 0 -.5rem;
}

%link {
  color: $accent-color;
  outline: none;
  transition: color .5s ease-out;

  &:active,
  &:hover,s
  &:focus {
    color: darken($accent-color, 40%);
  }
}
