
%base-text {
  font-family: $base-font-stack;
  font-size: $medium-font-size;
  line-height: $default-line-height;
}

%button {
  background-color: transparent;
  color: $darkest-color;
  font-family: $base-font-stack;
  text-decoration: none;
  //text-shadow: 1px 1px 0 darken($accent-color, 15%);
  line-height: $large-line-height;
  padding: 0 1.6rem;
  border-radius: $default-border-radius;
  border: 0;
  outline: none;
  opacity: 1;
  transition: all .3s ease-in;

  &:active,
  &:hover,
  &:focus {
    //background-color: darken($accent-color, 14%);
    text-decoration: underline;
  }

  &[disabled] {
    opacity: .6;
    cursor: not-allowed;
  }
}

%button-icon {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: none;
}

%heading {
  color: $primary-color;
  font-family: $heading-font-stack;
  font-size: $large-font-size;
  line-height: $default-line-height;
  text-align: center;
  margin-top: 0;
}

%link {
  color: $accent-color;
  outline: none;
  transition: color .5s ease-out;

  &:active,
  &:hover,s
  &:focus {
    color: darken($accent-color, 40%);
  }
}
