// lmn theme vars
// Default vars should be overwritten here

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu:500');

// ==================== Fonts ======================  //

$base-font-stack: Helvetica, Arial, sans-serif;
$heading-font-stack: 'Ubuntu', sans-serif;

// ==================== Colors =====================  //

$primary-color: #1A1A1A;
$secondary-color: #E3E3E3;
$tertiary-color: #EEE;
$accent-color: #EC008C;
